@import '../../../assets/styles/shared';

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.subheader{
    font: $subheader-font;
}

.results{
    font: $text-font;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    border: $border-grey;
    white-space: pre;
    @include breakpoint('tablet'){
        width: 100px;
        font-size: 12px;
    }
}