@import '../../../assets/styles/variables';

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.subheader{
    font: $subheader-font;
}

.input{
    font: $text-font;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
.input:focus{
    outline: none !important;
    border-radius: 10px;
    border: $input-border-active;
}
.error{
    border: $input-border-error;
}
.error-message{
    font: $text-font;
    color: $error-colour;   
}