@import 'assets/styles/variables';

button{
    background-color: $main-colour;
    border: $button-border;
    width: 100px;
    height: 40px;
    margin: 10px;
    font: $text-font;
    color: $primary-white;
    border-radius: 10px;
    cursor: pointer;
}
button:focus{
    outline: none !important;
}
button:active{
    border: $button-border-active;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}